body{
    background-color: rgb(114, 15, 207);
    
}
div.home{
    margin-left: 5%;
    margin-right: 5%;
    height: 1000px;
    width: 1800px;
    background-color: cornsilk;
    display: -webkit-inline-box;
    position: static;

    
    
}

.ButtonAppBar.appBar.logoTarup.mainLogo{
    width: 35;
    height: 72;
    

}
class.menuButton{
    width: 35;
    height: 72;
    margin-bottom: 4%;
    
}