body{
    background-color: rgb(114, 15, 207);
}
div.acceso{
    
    
}

.ButtonAppBar.appBar.logoTarup.mainLogo{
    width: 35;
    height: 72;
    

}
class.menuButton{
    width: 35;
    height: 72;
    
}