body{
    background-color: rgb(193, 192, 194);
    
}
div.home{
    
    height: 1000px;
    max-width: 1800px;
    background-color: cornsilk;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 65px;
    float: left;
    margin:0 auto;
    

    
    
}

.ButtonAppBar.appBar.logoTarup.mainLogo{
    width: 35;
    height: 72;
    

}
class.menuButton{
    width: 35;
    height: 72;
    margin-bottom: 4%;
    
}